body {
    font-family: 'Poppins', sans-serif;
}

.slider {
    background: #FEEAE9;
}

.slider-image {
    width: 450px;
    height: 450px;
}

.slider-header {
    font-size: 60px;
}

.slider-des {
    color: #555555;
}

.slider-product-price {
    font-size: 45px;
    color: deeppink;
}